@import 'basket';

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
}
.block{
background-image: url(./img/headerimg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 735px;

}
.block_catalog{
    background-image: url(./img/headerimgcatalog.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 400px;
}
.block_basket{
    background-image: url(./img/headeringbasket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    height: 77px;
}
.search {
box-sizing: border-box;
width: 288px;
height: 41px;
border: 1px solid #FFFFFF;
border-radius: 20px;
background-color: transparent;
padding-left: 32px;
padding-right: 32px;
}
.search::placeholder{
color: rgb(255, 255, 255);
}
.nav_link{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 12px;
    transition: all 0.3s;
    &:hover{
        text-decoration: underline;
    }
}
.menu_mobile{
    display: none;
}
.title{
    font-weight: 600;
 font-size: 64px;
 line-height: 70px;
 margin-top: 64px;
 margin-bottom: 16px;
 color: #FFFFFF;
}
.subtitle{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.link_catalog{
    font-size: 16px;
 line-height: 24px;
 color: #FFFFFF;
}
.helpserch{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 41px;
}
.navig{
    display: flex;
    &_item{
        width: 66px;
        height: 32px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        text-decoration: none;
    }
    &_div{
        transition: all 0.5s;
        &:hover{
            transform: scale(1.05);
        }
        &_1{
            padding: 6px;
            padding-right: 8px;
        }
    }
}
.select_multi-select{
    box-sizing: border-box;
    width: 288px;
    height: 41px;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    color: #000000;
    padding-left: 12px;
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    -moz-appearance: none;
    appearance: none;
}

select:not([multiple]) {
    background-repeat: no-repeat;
    background-position: calc(100% - 0.8em) 0.9em;
    background-image: url(img/select.svg);
  }
  select::-ms-expand {
    display: none;
  }
  
.for_box{
    padding-top: 64px;
}
.for{
display: grid;
gap: 32px;
grid-template-columns: repeat(12, 1fr);
padding-top: 32px;
}
.for_prod{
    height: 415px;
    grid-column: span 4;
    font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
transition: all 0.5s;
    &:hover{
        transform: scale(1.04);
    }
}
.for_prod_big{
    grid-column: span 6;
}
.for_prod_relax{
    background-image: url(img/for/relax.jpg);
}
.for_prod_work{
    background-image: url(img/for/work.jpg);
}
.for_prod_kitchen{
    background-image: url(img/for/kitchen.jpg);
}
.for_prod_child{
    background-image: url(img/for/child.jpg);
}
.for_prod_bath{
    background-image: url(img/for/bath.jpg);
}
.subject{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    padding-top: 64px;
}
.special{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.location_of_goods{
    display: flex;
gap: 18px;
flex-wrap: wrap;
justify-content: center;
}
.product_block{
    padding: 5px;
    width: 378px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.06);
        box-shadow: 0 0 10px #c3c3c3;
    }

}
.catalog_product{
    padding-top: 64px;

}
.product_img{
    width: 100%;
}
.product{
    font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 color: #000000;
 margin-top: 10px;
 margin-bottom: 8px;
 text-decoration: none;
}
.desc{
    font-size: 14px;
 line-height: 17px;
 color: #888888;
 margin-bottom: 12px;
}
.product_box-price{
    display: flex;
    gap: 32px;
}
.product_price{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.product_sale{
    font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 text-decoration-line: line-through;
 color: #888888;
}
.link_cat{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
font-family: 'Montserrat';
font-style: normal;
transition: all 1s;
    &:hover{
        color: #320095a6;
    }
}
.link_footer{
     margin-top: 32px;
}

.menu{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: none;
}
.footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    background-color: #F7F6F6;
    margin-bottom: 12px;
}
.location_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 64px;
}
.footer_block{
    display: flex;
    flex-direction: column;
}
.centerer{   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer_link:hover{
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #888888;
text-decoration: underline;
}
.sites{
    padding-right: 22px;
}

.message{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.email{
    width: 275px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 12px;
    margin-top: 16px;
}
.subscribe_button{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.05);
        background-color: rgb(215, 215, 215);
        border-color: rgb(255, 255, 255);
        box-shadow: 0 0 5px #888888;
    }
}
@import 'table';
@import 'mobile'