.basket_catalog {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  padding-top: 64px;
}

.basket_line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 0.5px solid rgb(202, 205, 216);
}

.basket_product {
  grid-column: span 8;
}
.basket_product_item {
  display: flex;
  gap: 14px;
}
.basket_product_img {
  height: 173px;
}

.prod_item {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 0.5px solid rgb(202, 205, 216);
  align-items: flex-start;
}

.prod_text {
  width: 276px;
  display: grid;
  gap: 15px;
}
.prod_text_site {
  padding-top: 15px;
  display: flex;
}
.prod_text_product {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.prod_text_desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.prod_text_price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.prod_text_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  padding-right: 30px;
  transition: all 1s;
}
.prod_text_link:hover {
  color: rgba(50, 0, 149, 0.6509803922);
}
.prod_text_link_hover {
  transition: all 1s;
}
.prod_text_link_hover:hover {
  transform: scale(1.05);
}

.buttom_item {
  background: #F7F6F6;
  border-radius: 6px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  width: 71px;
  height: 51px;
  left: 837px;
  top: 523px;
}

.ordering {
  display: flex;
  flex-direction: column;
  background: #F7F6F6;
  border-radius: 20px;
  grid-column: span 4;
  padding-left: 27px;
  padding-right: 27px;
}
.ordering_ordering {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-top: 42px;
  padding-bottom: 35px;
  text-align: center;
}
.ordering_input {
  background-color: transparent;
  border: none;
  margin-top: 35px;
  margin-bottom: 9px;
  border-bottom: 1px solid #CACDD8;
}
.ordering_input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #000000;
}
.ordering_input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #000000;
}
.ordering_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 44px;
  border-bottom: 1px solid #CACDD8;
  margin-left: 27px;
  margin-right: 64px;
}
.ordering_price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 57px;
  text-align: center;
}
.ordering_buttom {
  box-sizing: border-box;
  background: #F7F6F6;
  color: #000000;
  border-radius: 20px;
  width: 290px;
  height: 41px;
  margin-top: 18px;
  align-self: center;
  transition: all 0.5s;
}
.ordering_buttom:hover {
  transform: scale(1.05);
  background-color: rgb(215, 215, 215);
  border-color: rgb(255, 255, 255);
}

.buttom {
  box-sizing: border-box;
  margin: 10px;
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  background: none;
  transition: all 0.3s;
  color: #000000;
}
.buttom:hover {
  transform: scale(1.05);
  background-color: rgb(215, 215, 215);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px #888888;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.block {
  background-image: url(./img/headerimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 735px;
}

.block_catalog {
  background-image: url(./img/headerimgcatalog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.block_basket {
  background-image: url(./img/headeringbasket.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  height: 77px;
}

.search {
  box-sizing: border-box;
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
}

.search::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.search::placeholder {
  color: rgb(255, 255, 255);
}

.nav_link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 12px;
  transition: all 0.3s;
}
.nav_link:hover {
  text-decoration: underline;
}

.menu_mobile {
  display: none;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.link_catalog {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.helpserch {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 41px;
}

.navig {
  display: flex;
}
.navig_item {
  width: 66px;
  height: 32px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}
.navig_div {
  transition: all 0.5s;
}
.navig_div:hover {
  transform: scale(1.05);
}
.navig_div_1 {
  padding: 6px;
  padding-right: 8px;
}

.select_multi-select {
  box-sizing: border-box;
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  color: #000000;
  padding-left: 12px;
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

select:not([multiple]) {
  background-repeat: no-repeat;
  background-position: calc(100% - 0.8em) 0.9em;
  background-image: url(img/select.svg);
}

select::-ms-expand {
  display: none;
}

.for_box {
  padding-top: 64px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 32px;
}

.for_prod {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.5s;
}
.for_prod:hover {
  transform: scale(1.04);
}

.for_prod_big {
  grid-column: span 6;
}

.for_prod_relax {
  background-image: url(img/for/relax.jpg);
}

.for_prod_work {
  background-image: url(img/for/work.jpg);
}

.for_prod_kitchen {
  background-image: url(img/for/kitchen.jpg);
}

.for_prod_child {
  background-image: url(img/for/child.jpg);
}

.for_prod_bath {
  background-image: url(img/for/bath.jpg);
}

.subject {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-top: 64px;
}

.special {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.location_of_goods {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.product_block {
  padding: 5px;
  width: 378px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  transition: all 0.5s;
}
.product_block:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px #c3c3c3;
}

.catalog_product {
  padding-top: 64px;
}

.product_img {
  width: 100%;
}

.product {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
  text-decoration: none;
}

.desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product_box-price {
  display: flex;
  gap: 32px;
}

.product_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product_sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.link_cat {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Montserrat";
  font-style: normal;
  transition: all 1s;
}
.link_cat:hover {
  color: rgba(50, 0, 149, 0.6509803922);
}

.link_footer {
  margin-top: 32px;
}

.menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  background-color: #F7F6F6;
  margin-bottom: 12px;
}

.location_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 64px;
}

.footer_block {
  display: flex;
  flex-direction: column;
}

.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer_link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: underline;
}

.sites {
  padding-right: 22px;
}

.message {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.email {
  width: 275px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 12px;
  margin-top: 16px;
}

.subscribe_button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  transition: all 0.5s;
}
.subscribe_button:hover {
  transform: scale(1.05);
  background-color: rgb(215, 215, 215);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px #888888;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for_prod {
    height: 268px;
  }
  .img_logo {
    display: none;
  }
  .location_of_goods {
    gap: 29px;
  }
  .basket_catalog {
    display: flex;
    flex-direction: column;
  }
  .ordering {
    width: 376px;
    padding-bottom: 148px;
  }
  .two {
    background-color: black;
    color: #FFFFFF;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product_block {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .image_logo {
    width: 99px;
  }
  .basket_product_img {
    display: none;
  }
  .basket_product {
    width: 100%;
  }
  .basket_catalog {
    align-items: center;
  }
  .search {
    display: none;
  }
  .nav {
    display: none;
  }
  .menu_mobile {
    display: flex;
    gap: 32px;
  }
  .header {
    border-bottom: none;
    padding-top: 32px;
  }
  .text_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .link_catalog {
    font-size: 14px;
    line-height: 24px;
  }
  .subject {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    display: flex;
    flex-direction: column;
  }
  .for_prod {
    height: 375px;
  }
  .for_prod_big {
    height: 244px;
  }
  .for_box {
    padding-top: 0px;
  }
  .helpserch {
    flex-direction: column;
  }
  .product {
    font-size: 18px;
    line-height: 22px;
  }
  .product_img {
    width: 342.93px;
    height: 226.21px;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_block {
    width: 343px;
  }
}
@media (max-width: 545px) {
  .centerer {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .buttom {
    width: 163px;
    font-size: 12px;
  }
  .ordering {
    width: 288px;
  }
  .basket_product_img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */